.Header {
    padding: 50px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeaderLeftMenu {
    display: flex;
    align-items: center;
    gap: 17px;
}

.HeaderTitle {
    margin-right: 20px;
}