.HackerNews {
    padding-left: 127px;
    padding-bottom: 23px;
}

.ListOfHackerNews {
    list-style: decimal;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

.ButtonShowMore {
    background-color: #fe7139;
    color: white;
    height: 34px;
    width: 104px;
    border: none;
}